@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --very-dark: #131212;
  --dark: #1C1B1B;
  --other-dark: #161515;
  --carrot: #F2672C;
  --light-yellow: #F0EBE8;
}

body {
  background-color: var(--very-dark);
  color: var(--light-yellow);
}